/* Header */
#masterheader {
    position: fixed;
    z-index: 99;
    margin: 0 0 30px;
    overflow: auto;
    width: 100%;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

  /* Containers */
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }

  #main-container {
    padding-top: 130px;
  }


  /* Sections */
  .main-section {
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
  }

  /* Sidebar */
  .sidebar {
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  h2,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  .social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  